.list {
    list-style: none;
    width: 100%;
    position: relative;

    &-item {
        padding: 1rem 0;
        width: 100%;
        display: flex;
        color: $black;
        align-items: center;
    }

    &-checkbox {
        height: 24px;
        width: 24px;
        border: none;
        margin-right: 0.5rem;
        cursor: pointer;
    }
}

.underline {
    text-decoration: line-through;
}

.delete-item {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.delete-all {
    display: none;
    margin-top: 2rem;
    background-color: #eb5757;
    border: none;
    padding: 1rem 1.8rem;
    border-radius: 4px;
    color: $white;
    font-family: 'Montserrat';
    position: absolute;
    right: 0;
    cursor: pointer;

    &-active {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
